*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.propsal{
    background-color: rgba(255, 0, 0, 0.511);
    height: 200vh;
    width: 100vw;
}

.head{
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.img{
    height: 900px;
    width: 100vwpx;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img > img{
    height: 850px;
    width: 700px;
}

.desc > h1{
    margin-left: 50px;
    font-size: 35px;
}

.desc > h2{
    margin-left: 50px;
    font-size: 35px;
}

.desc > p{
    font-size: 22px;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 60px;
}

.desc > h4{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 20px;
}

.desc > button{
    margin-left: 60px;
    height: 40px;
    width: 100px;
    margin-top: 40px;
    background-color: white;
}

.desc > button > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

@media only screen and (max-width: 600px){
    .propsal{
        height: auto;
        width: auto;
    }
     .img{
        width: auto;
        background-size: cover;
     }
    .desc > h1{
        font-size: 28px;
        margin-top: 120px;
    }
    .desc > h2{
        font-size: 28px;
        margin-left: 50px;
    }
    .desc > p{
        font-size: 15px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .desc > button{
        margin-left: 60px;
        height: 40px;
        width: 100px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}
